<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shoes Store</title>

    {% block link %}
        <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    {% endblock %}

</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('auth.home') }}"><h1>Shoes Store</h1></a>
            <a href="{{ url_for('auth.register') }}">Register</a> |
            <a href="{{ url_for('auth.login') }}">Login</a> |
            <a href="{{ url_for('catalog.show_catalog') }}">Catalog</a> |
            <a href="{{ url_for('cart.show_cart') }}">Cart</a>

        </nav>
        <hr>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <hr>
        <p>&copy; 2025 Shoe Store</p>
    </footer>
</body>
</html>
