<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ShoeBox</title>

    {% block link %}
        <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    {% endblock %}

</head>
<body>
    <header>
        <nav>
            <div class="container_nav">
                <a href="{{ url_for('catalog.show_catalog') }}"><h1>ShoeBox</h1></a>

                <a href="{{ url_for('auth.register') }}">Регистрация</a> |
                <a href="{{ url_for('auth.login') }}">Вход</a> |
                <a href="{{ url_for('catalog.show_catalog') }}">Каталог</a> |
                <a href="{{ url_for('cart.show_cart') }}">Количка</a>
            </div>


        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 ShoеBox</p>
    </footer>
</body>
</html>
