{% extends "base.html" %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='cart.css') }}">
{% endblock %}

{% block content %}
<div class="cart-page-container">
  <div class="cart-content">
    <div class="cart-left">
      <div class="cart-header">
        <h2>Кошница ({{ cart_items|length }})</h2>
      </div>

      {% if cart_items %}

        <div class="cart-items-list">
          {% for item in cart_items %}
            <div class="cart-item-card">
              <div class="item-image">
                <img src="{{ item.product.image_url }}" alt="{{ item.product.name }}">
              </div>

              <div class="item-details">
                <h3 class="item-name">{{ item.product.name }}</h3>
                <p class="item-subtitle">{{ item.product.category }} {{ item.product.name }} {{ item.product.color }}</p>

                <div class="item-specs">
                  <span class="spec-item">Цвят: {{ item.product.color }}</span>
                  <span class="spec-item">Размер: {{ item.size }}</span>
                  <span class="spec-item">Количество: {{ item.quantity }}</span>
                </div>

                <div class="item-actions">
                  <button type="submit" class="action-btn">Премахни</button>
                </div>


              </div>

              <div class="item-pricing">
                <p class="item-price">{{ item.product.price * item.quantity }} лв</p>
              </div>
            </div>
          {% endfor %}
        </div>

      {% else %}
        <div class="empty-cart">
          <p>Количката ви е празна 🛒</p>
        </div>
      {% endif %}
    </div>

    {% if cart_items %}
      <div class="cart-right">
        <div class="summary-card">
          <h3>Обобщение</h3>

          <div class="summary-row">
            <span>Стойност на продуктите:</span>
            {% set total_price = namespace(value=0) %}
            {% for item in cart_items %}
              {% set total_price.value = total_price.value + (item.product.price * item.quantity) %}
            {% endfor %}
            <span class="summary-value">{{ total_price.value }} лв</span>
          </div>

          <div class="summary-row">
            <span>Доставка:</span>
            <span class="summary-value">Изберете доставка и плащане</span>
          </div>

          <div class="discount-code">
            <button class="discount-toggle">+ Код за отстъпка</button>
          </div>

          <div class="summary-total">
            <span>Обща дължима стойност:</span>
            <span class="total-price">{{ total_price.value }} лв</span>
          </div>

          <a href="{{ url_for('cart.checkout') }}" class="checkout-btn">ПЛАЩАНЕ</a>

          <a href="{{ url_for('cart.export_cart_pdf') }}" class="pdf-btn">📄 Изтеглете PDF</a>
        </div>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}