{% extends "base.html" %}

{% block content %}
<h2>Product Catalog</h2>

<form method="get" action="{{ url_for('catalog.show_catalog') }}">
  <input type="text" name="query" placeholder="Search..." value="{{ search_query or '' }}">
  <button type="submit">Search</button>

  <label>Max Price:</label>
  <input type="number" name="max_price" value="{{ max_price or '' }}">

  <label>Size:</label>
  <input type="text" name="available_size" value="{{ max_size or '' }}"></input>

  <label>
    <input type="checkbox" name="in_stock" {% if in_stock %}checked{% endif %}>
    In stock only
  </label>

  <button type="submit">Filter</button>
</form>

<hr>

<ul>
  {% for product in products %}
    <li>
      <strong>{{ product.name }}</strong> - {{ product.color }} <br>
      Sizes: {{ product.sizes }} <br>
      Price: ${{ product.price }} <br>
      Stock: {{ product.stock }}
      <a href="{{ url_for('cart.add_to_cart', product_id=product.id) }}">Add to Cart</a>
    </li>
    <hr>
  {% endfor %}
</ul>
{% endblock %}
