{% extends "base.html" %}

{% block link %}
        <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='catalog.css') }}">
{% endblock %}

{% block content %}
<h2 class="page-title">Products Catalog</h2>

<form class="filter-bar" method="get" action="{{ url_for('catalog.show_catalog') }}">
  <input  type="text" name="query" placeholder="Search..." value="{{ search_query or '' }}">
  <button class="search" type="submit">Search</button>

  <label>Max Price:</label>
  <input type="number" name="max_price" value="{{ max_price or '' }}">

  <label>Size:</label>
  <input type="text" name="available_size" value="{{ max_size or '' }}">

  <label>
    <input class="checkbox" type="checkbox" name="in_stock" {% if in_stock %}checked{% endif %}>
    In stock only
  </label>

  <button type="submit">Filter</button>
</form>

<hr>

<div class="catalog-grid">
  {% for product in products %}
    <div class="product-card">
      <h3 class="product-title">{{ product.name }}</h3>
      <p class="product-meta">{{ product.color }}</p>
      <p class="product-meta">Sizes: {{ product.sizes }}</p>
      <p class="product-meta">Stock: {{ product.stock }}</p>
      <p class="product-price">${{ product.price }}</p>

      <div class="product-actions">
        <a class="btn-add" href="{{ url_for('cart.add_to_cart', product_id=product.id) }}">Add to Cart</a>

        {% if session.is_admin %}
          <a class="btn-update" href="{{ url_for('catalog.update_product', product_id=product.id) }}">Update</a>
          <a class="btn-delete" href="{{ url_for('catalog.delete_product', product_id=product.id) }}">Delete</a>
        {% endif %}
      </div>

    </div>
    <hr>
  {% endfor %}
</div>
{% endblock %}
