{% extends "base.html" %}

{% block link %}
        <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='checkout.css') }}">
{% endblock %}

{% block content %}
<div class="checkout-wrapper">
  <div class="checkout-card">
    <h2>Checkout</h2>

    <form method="POST">
      <label for="address">Адрес за доставка:</label>
      <input type="text" id="address" name="address" required>

      <label for="payment">Начин на плащане:</label>
      <select id="payment" name="payment" required>
        <option value="Credit Card">Дебитна карта</option>
        <option value="Cash on Delivery">Наложен платеж</option>
      </select>

      <button type="submit">Поръчай</button>
    </form>

    {% for message in get_flashed_messages() %}
      <p class="flash">{{ message }}</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
