.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
    background: #deacef;
    border: none;
}


.form-card {
  background: #ffffff;
  padding: 28px;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.08);
  width: 100%;
  max-width: 500px;
}


.form-card h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
  color: #1f2937;
}


.form-card label {
  display: block;
  margin-bottom: 6px;
  font-size: 18px;
    font-weight: bold;
  color: #374151;
}
.form-card input,
.form-card select {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 14px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 15px;
  transition: border 0.2s, box-shadow 0.2s;
}
.form-card input:focus {
  border-color: #2563eb;
  box-shadow: 0 0 0 3px rgba(37,99,235,0.15);
  outline: none;
}

.form-card button {
  width: 100%;
  padding: 12px;
  background: #9742b8;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s, transform 0.1s;
}
.form-card button:hover {
  background: #ffffff;
    border:1px solid #9742b8;
    color: #9742b8;
}
.form-card button:active {
  transform: scale(0.98);
}
