.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
    background: #deacef;
    border: none;
}


.form-card {
  background: rgba(255, 255, 255, 0.15);
  padding: 28px;
  border-radius: 12px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  max-width: 500px;
}


.form-card h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
  color: #ffffff;
}


.form-card label {
  display: block;
  margin-bottom: 6px;
  font-size: 18px;
    font-weight: bold;
  color: #5e636e;
}
.form-card input,
.form-card select {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 14px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 15px;
  transition: border 0.2s, box-shadow 0.2s;
}
.form-card input:focus {
  outline: none;
  border-color: #9742b8;
  box-shadow: 0 0 0 3px rgba(151, 66, 184, 0.1);
}

.form-card button {
  width: 50%;
  margin-left: 110px;
  padding: 12px;
  background: #9742b8;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s, transform 0.1s;
}
.form-card button:hover {
  background: #ffffff;
    border:1px solid #9742b8;
    color: #9742b8;
}
.form-card button:active {
  transform: scale(0.98);
}
